* {
  margin: 0;
  padding: 0;
  color: #753c11;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  /* background-color: #753c11; */
  /* min-height: 125vh; */
  /* padding-top: 80px; */
  background-color: rgba(248, 250, 229, 0.8);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-bottom: 5px;
}
span,
a {
  margin-bottom: 5px;
}
.nav {
  background-color: rgba(248, 250, 229, 0.8);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.navContainer {
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.nav img {
  max-height: 75px;
  max-width: 70vw;
}
.left {
  position: absolute;
  left: 0;
}
.right {
  position: absolute;
  right: 0;
  padding-right: 30px;
}
.nav ul {
  display: flex;
}

.nav ul li {
  padding: 5px;
  margin: 20px;
  list-style: none;
  font-size: 20px;
}
li.selected {
  border-bottom: 2px solid #753c11;
}
.mediaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 208px;
  height: 32px;
}
.fakeMedia {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #753c11;
  border-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}
.backgroundContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundImg {
  height: 100vh;
}
.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(117, 60, 17, 0.7);
  z-index: 1;
}

.cardDeck {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
.card {
  flex-basis: 23vw;
  margin-bottom: 25px;
  /* min-width: ; */
}
.card img {
  width: 100%;
}
.footer {
  width: 100%;
  padding-bottom: 30px;
  background-color: rgba(248, 250, 229);
}
.footerTop,
.footerBottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.footerContainer {
  margin: auto;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  /* border: 2px solid blue; */
}
.footer span,
.footer td {
  font-size: 13px;
}
.footerLogo {
  width: 200px;
}
.centerText {
  text-align: center;
}
a {
  text-decoration: none;
}
.navHamburger {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 2vw;
}

.navList.show {
  height: fit-content;
}
@media only screen and (max-width: 1280px) {
  .nav .mediaContainer {
    display: none;
  }
  .nav .center {
    position: absolute;
    right: 0px;
    width: fit-content;
  }
  .footerContainer {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .navList {
    flex-direction: column;
    background-color: rgba(248, 250, 229);
    border-radius: 5px;
    position: fixed;
    top: 20px;
    height: 0;
    overflow: hidden;
    width: 90vw;
    left: 5vw;
    display: none;
  }
  .navHamburger {
    display: block;
  }
}
