.cardDeck {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}
.card {
  flex-basis: 23vw;
  margin-bottom: 25px;
  min-width: 310px;
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
}
.card .overlay {
  position: absolute;
  top: 100%;
  height: 100%;
  translate: 0 -50px;
  transition: 0.75s;
  background-color: rgba(117, 60, 17, 0.8);
}
.card p {
  display: block;
  height: 80px;
  font-size: 18px;
  /* margin-top: -4px; */
}
.card p,
.card h2 {
  padding: 8px;
  color: rgba(248, 250, 229);
  margin: 0;
}
.card:hover .overlay {
  translate: 0 -50%;
  transition: 0.7s;
}
