.menu {
  width: 80vw;
  min-height: 20px;
  /* border: 3px solid #753c11;
  background-color: #fffdfc; */
  margin: auto;
  padding: 50px 0px;

  h1,
  h2,
  h3 {
    letter-spacing: 0.25rem;
    text-align: center;
    width: fit-content;
  }
  h1,
  h3 {
    border: 3px solid #753c11;
    border-style: solid;
  }
  h1 {
    font-size: 48px;
    padding: 5px 75px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
    width: 100%;
    padding: 6px 0;
  }
}
.top {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainMenu {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}
.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;
  /* border: 2px solid red; */
}
.menuTable {
  width: 100%;
}
.menu td {
  font-size: 20px;
  letter-spacing: 0.125rem;
  /* line-height: 1.75rem; */
  padding: 2px 0;
}
.menu td:first-child {
  text-align: left;
}
.menu td:last-child {
  text-align: right;
}
.fullMenu {
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center;
  /* border: 2px solid red; */
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 26px !important;
  }
  h3 {
    font-size: 22px !important;
  }
  td {
    font-size: 18px;
  }
  .menu {
    width: 100vw;
  }
}
@media only screen and (max-width: 460px) {
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
}
